In [1]:
airline_1 <- read.csv(url('https://raw.githubusercontent.com/ma010/misc/master/airline1.csv'))

In [2]:
airline_1

   Period Region        Revenue..USD.
1  FY2015 Africa         10000000
2  FY2015 Asia           20000000
3  FY2015 Australia      70000000
4  FY2015 Europe        120000000
5  FY2015 North America 150000000
6  FY2015 South America  60000000
7  FY2016 Africa          8000000
8  FY2016 Asia           16000000
9  FY2016 Australia      56000000
10 FY2016 Europe         96000000
11 FY2016 North America 120000000
12 FY2016 South America  48000000

In [4]:
class(airline_1)

[1] "data.frame"

In [13]:
df_agg <- aggregate(airline_1[, 3], list(airline_1$Region), mean)

In [19]:
df_agg

  Group.1       x
1 Africa        9.00e+06
2 Asia          1.80e+07
3 Australia     6.30e+07
4 Europe        1.08e+08
5 North America 1.35e+08
6 South America 5.40e+07

In [18]:
lapply(df_agg[, 2], round, 0)

[[1]]
[1] 9e+06

[[2]]
[1] 1.8e+07

[[3]]
[1] 6.3e+07

[[4]]
[1] 1.08e+08

[[5]]
[1] 1.35e+08

[[6]]
[1] 5.4e+07

In [20]:
airline_2 <- read.csv(url('https://raw.githubusercontent.com/ma010/misc/master/airline2.csv'))

In [21]:
airline_2

  Period Region    Revenue..USD.
1 FY2015 Africa     15000000
2 FY2015 Asia      100000000
3 FY2015 Australia  50000000
4 FY2015 Europe     40000000
5 FY2016 Africa     10500000
6 FY2016 Asia       70000000
7 FY2016 Australia  35000000
8 FY2016 Europe     28000000

In [23]:
aggregate(airline_2[, 3], list(airline_2$Region), max)

  Group.1   x
1 Africa     15000000
2 Asia      100000000
3 Australia  50000000
4 Europe     40000000

In [26]:
df_merged <- merge(airline_1, airline_2, by=c('Period', 'Region'))

In [29]:
df_merged

  Period Region    Revenue..USD..x Revenue..USD..y
1 FY2015 Africa     10000000        15000000
2 FY2015 Asia       20000000       100000000
3 FY2015 Australia  70000000        50000000
4 FY2015 Europe    120000000        40000000
5 FY2016 Africa      8000000        10500000
6 FY2016 Asia       16000000        70000000
7 FY2016 Australia  56000000        35000000
8 FY2016 Europe     96000000        28000000

In [28]:
df_merged[, 3] + df_merged[, 4]

[1]  25000000 120000000 120000000 160000000  18500000  86000000  91000000
[8] 124000000