## Part I

#### Analyze Revenue Data From 2 Airline Companies

In [1]:
airline_1 <- read.csv(url('https://raw.githubusercontent.com/ma010/misc/master/airline1.csv'))

In [2]:
airline_1

   Period Region        Revenue..USD.
1  FY2015 Africa         10000000
2  FY2015 Asia           20000000
3  FY2015 Australia      70000000
4  FY2015 Europe        120000000
5  FY2015 North America 150000000
6  FY2015 South America  60000000
7  FY2016 Africa          8000000
8  FY2016 Asia           16000000
9  FY2016 Australia      56000000
10 FY2016 Europe         96000000
11 FY2016 North America 120000000
12 FY2016 South America  48000000

In [20]:
airline_2 <- read.csv(url('https://raw.githubusercontent.com/ma010/misc/master/airline2.csv'))

In [21]:
airline_2

  Period Region    Revenue..USD.
1 FY2015 Africa     15000000
2 FY2015 Asia      100000000
3 FY2015 Australia  50000000
4 FY2015 Europe     40000000
5 FY2016 Africa     10500000
6 FY2016 Asia       70000000
7 FY2016 Australia  35000000
8 FY2016 Europe     28000000

#### Question 1. What is the average revenue for Airline1 in different regions?

#### Question 2. Where does Airline2 have the largest revenue?

#### Question 3. For periods and regions the two airlines both served, what is the combined revenue of Airline 1 and Airline 2 for each region in each period? (Join Tables)