#### This notebook is running with R kernel. It uses standard R language (Version `2018-07-02`, `Feather Spray`) (https://cran.r-project.org)

In [1]:
airline_1 <- read.csv(url('https://raw.githubusercontent.com/ma010/misc/master/airline1.csv'))

In [2]:
airline_1

   Period Region        Revenue..USD.
1  FY2015 Africa         10000000
2  FY2015 Asia           20000000
3  FY2015 Australia      70000000
4  FY2015 Europe        120000000
5  FY2015 North America 150000000
6  FY2015 South America  60000000
7  FY2016 Africa          8000000
8  FY2016 Asia           16000000
9  FY2016 Australia      56000000
10 FY2016 Europe         96000000
11 FY2016 North America 120000000
12 FY2016 South America  48000000

In [5]:
summary(airline_1)

    Period            Region  Revenue..USD.
 FY2015:6   Africa       :2   Min.   :8.00e+06
 FY2016:6   Asia         :2   1st Qu.:1.90e+07
            Australia    :2   Median :5.80e+07
            Europe       :2   Mean   :6.45e+07
            North America:2   3rd Qu.:1.02e+08
            South America:2   Max.   :1.50e+08

In [3]:
airline_2 <- read.csv(url('https://raw.githubusercontent.com/ma010/misc/master/airline2.csv'))

In [6]:
summary(airline_2)

    Period        Region  Revenue..USD.
 FY2015:4   Africa   :2   Min.   : 10500000
 FY2016:4   Asia     :2   1st Qu.: 24750000
            Australia:2   Median : 37500000
            Europe   :2   Mean   : 43562500
                          3rd Qu.: 55000000
                          Max.   :100000000